<div class="front-page">
    
    <h2>Universidad Nacional de la Matanza</h2>

    <h3>Departamento de Ingeniería e Investigaciones Tecnológicas</h3>
    
    <h3>Ingeniería en Informática</h3>

    <h1>Base de Datos</h1>
    
    <h2>{{page.title}}</h2>

    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y" }}</time></p>   
    
    <div class="people-list">
        <span class="people-role">Jefe de Cátedra: </span>
        <ul>
            <li>Ing. Verónica Ichazo</li>
        </ul>

        <span class="people-role">Docentes a cargo de curso: </span>
        <ul>
            <li>Ing. Alfonso Palomares</li>
            <li>Ing. Natalia Crespo</li>
            <li>Ing. Guillermo Giannotti</li>
        </ul>

        <span class="people-role">Docentes a cargo de la práctica: </span>
        <ul>
            <li>Ing. Matías López</li>
        </ul>

        <span class="people-role">Ayudantes: </span>
        <ul>
            <li>Ezequiel Brizuela</li>
            <li>Ing. Javier Rebagliatti</li>
            <li>Ing. Sebastián Deuteris</li>
            <li>Ing. Hernan Jalil</li>
        </ul>
    </div>
</div>
    